.App{
  background-color: mediumblue;
  height: 60px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.headertitle{
  margin: 0;
  display: inline-block;
  margin-left:10px;
}

.link1{
  color:floralwhite;
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
  float: right;
}

tr{
  border: thin solid darkgrey;
}

.productdetails{
  text-align: justify;
  width: 250px;
  margin-top: 30px;
}

.filters{
  float: right;
  margin-left: 5px;
}

#userForm{
  margin: auto;
  width:400px;
  margin-top: 100px;
  background-color: floralwhite;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
  margin-bottom: 150px;
}

span{
  color:red;
}

#userForm tr{
  border:none;
}

.forminput{
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width:300px;
  margin-bottom: 0px;
  text-align: center;
}

#countrycode{
  display: inline-block;
  width:40px;
  height: 40px;
  margin-left: 50px;
}

#mobileinput{
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  width:250px;
  margin-bottom: 0px;
  text-align: center;
}

#formbutton{
  display: block;
  height: 40px;
  width:300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

#createaccount{
  text-align: center;
}

#productstable{
  background-color: aliceblue;
  position: relative;
  margin-top: 50px;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.span{
  text-align: center;
  margin: auto;
  padding: 0;
  width: 300px;
}

body{
  background-color: #3199da;
  color:aliceblue;
}

#productsheader{
  text-align: center;
}

#addusertitle{
  text-align: center;
}

#formtitle{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.label{
  color: black;
  margin-left: 50px;
  margin-top: 10px;
}

#viewimage{
  height: 525px;
}

#viewbutton{
  margin-top: 30px;
}

.viewbuttons{
  margin-left: 40px;
  width: 160px;
}

#productdetail{
  text-align: justify;
  width: 450px;
  margin-top: 100px;
}

#viewtable{
  margin-top: 15px;
  background-color: aliceblue;
  margin-left: -70px;
  width: 1250px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.orderdetail {
  margin-top: 50px;
  background-color: aliceblue;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.paymentdetails {
  width: 250px;
  margin:auto;
}

.oredersuccess {
  text-align: center;
  margin-top: 10px;
}

#orderstable {
  margin-top: 50px;
  background-color: aliceblue;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.carddetail{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.cvv {
    display: block;
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

.cardinfo {
  margin: auto;
  margin-bottom: 15px;
  background-color: lightgray;
  border-radius: 5px;
  min-height: 160px;
}

.cardlabel{
  margin-left: 10px;
}

.card{
  margin: 0;
  padding: 0;
  border-color: lightgray;
}

#success {
  background-color: lemonchiffon;
  height: 175px;
  width: 390px;
  position: fixed;
  z-index: 3;
  margin-left: 335px;
  margin-top: 100px;
  color: black;
  padding: 10px;
  box-shadow: 0px 0px 8px 1px black;
}

#success-message {
  text-align: center;
  margin-top: 40px;
}

#success-button1 {
  width: 110px;
  margin-left: 128px;
  margin-top: 15px;
}

#success-button2 {
  width: 110px;
  margin-left: 50px;
  margin-top: 15px;
}

#logo {
  height: 670px;
  width: 1685px;
  position: absolute;
  margin-left: -174px;
}

#products {
  border: 1px solid black;
  margin-left: 50px;
  width: 300px;
  padding: 10px;
}

.product-item {
  color: black;
  margin: 0;
}

#success1 {
  background-color: lemonchiffon;
  height: 175px;
  width: 390px;
  position: fixed;
  z-index: 3;
  margin-left: 480px;
  margin-top: 100px;
  color: black;
  padding: 10px;
  box-shadow: 0px 0px 8px 1px black;
}

#logout {
  margin-top: 10px;
  background-color: transparent;
  margin-right: 20px;
  float: right;
}

#buy-now {
  width: 150px;
}

.count {
  height: 27px;
  background-color: aliceblue;
  line-height: initial;
  width: 30px;
}

#count-label {
  display: inline-block;
}

#count-buttons {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
}

#count-value {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

#filter {
  position: fixed;
  width: 500px;
  background-color: lavender;
  z-index: 3;
  margin-top: 50px;
  margin-left: 310px;
  box-shadow: 0px 0px 8px 1px black;
}

#filter-table {
  margin-bottom: 0;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

div > a:hover {
  color: yellow;
}

#footer {
  padding: 0 470px;
}

#loader {
  margin-top: 25px;
  margin-left: 250px;
}